* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset */

.icons {
    display: flex;
    gap: 15px;

    cursor: pointer;

    font-size: 20px;
    color: #B1B1B1;
}

img {
    width: 50px;
    margin-right: 5px;

    border-radius: 25px;
}

/* elementi comuni sopra */

body {
    display: flex;
    justify-content: center;

    margin: 50px 0;
    font-family: sans-serif;
    background: #DADBD4;

    overflow: hidden;
}

body::after {
    content: ""; /* Nasconde il contenuto */
    position: absolute; /* Posizione assoluta rispetto al body */
    top: 0; /* Parte superiore del body */
    left: 0; /* Parte sinistra del body */
    width: 100%; /* Copre tutta la larghezza del body */
    height: 20%; /* Altezza pari al 30% */
    background: #009688; /* Colore di sfondo della parte superiore */
}
  
.container {
    display: flex;
    width: 1200px;
    height: 780px;
    z-index: 1;
}

/* sidebar */

.chat-sidebar {
    height: 100%;
    flex-basis: 33.33%;
    border-right: 0.5px solid #B1B1B1;
    background-color: #fff;
}

.side-header {
    display: flex;
    flex-direction: column;
    height: 190px;
}

/* parte alta della sidebar (Avatar) */

.top-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    background-color: #EAEAEA;
}

.top-head .avatar{
    display: flex;
    align-items: center;

    cursor: default;
}

/* parte in mezzo della sidebar (alert) */

.mid-head {
    display: flex;
    align-items: center;
    gap: 12px;

    padding: 15px 22px;
    background-color: #8EDAFC;
}

.mid-head i {
    padding: 12px 10px;
    
    font-size: 18px;
    border-radius: 25px;

    color: #8EDAFC;
    background-color: #F2FBFE;
}

.mid-head .mid-text {
    display: flex;
    flex-direction: column;
    gap: 5px;

    cursor: default;

    font-size: 14px;
}

.mid-text span:nth-of-type(2) {
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;

    color: #547C8E;
}

/* parte finale della sidebar (input) */
.end-head {
    padding: 6px;
    background-color: #FAFAFA;
}

.end-head input {
    font-size: 12px;
}


/* sidebar body */
.side-body {
    height: calc(100% - 190px);
    overflow-y: auto;
}

.side-body ul{
    padding: 0;
    list-style-type: none;

    background-color: #FFFFFF;
}

.side-body ul li {
    display: flex;
    align-items: center;
    padding: 10px;

    cursor: pointer;

    border-top: 0.5px solid #B1B1B1;
}

.active {
    background-color: #E9EBEB;
}

.side-body ul li img {
    width: 50px;
    margin-right: 12px;

    border-radius: 25px;
}

.chat-info {
    display: flex;
    flex-direction: column;
}

.chat-info span:last-child {
    font-size: 12px;
    color: #B1B1B1;
}

/* parte a destra, chat vera e propria */

.chat-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    flex-grow: 1;
}


/* header con nome dell'utente con cui conversi */

.top-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 70px;
    overflow: hidden;
    
    cursor: default;

    background-color: #EAEAEA;
}

.top-body .avatar {
    display: flex;
}


/* testo della chat */

.mid-body {
    height: calc(100% - 140px);
    overflow-y: auto;
    padding: 40px 80px;

    background-image: url(../img/mine.jpg);
}

.mid-body .message div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* stile dei messaggi mandati da noi */
.mid-body .message .message-sent {
    min-width: 200px;
    max-width: 250px;
    align-self: flex-end;
    position: relative;

    margin-bottom: 10px;
    padding: 10px 30px 10px 10px ;

    border-radius: 8px;
    background-color: #D5F9BA;
}

/* stile dei messaggi ricevuti*/
.mid-body .message .message-received {
    min-width: 200px;
    max-width: 250px;
    align-self: flex-start;
    position: relative;

    margin-bottom: 10px;
    padding: 10px 30px 10px 10px ;

    border-radius: 8px;
    background-color: #FFFFFF;
}

/*creo la "pinna" per i messaggi inviati */
.message-sent:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -10px;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #D5F9BA transparent;
}

/*creo la "pinna" per i messaggi ricevuti */
.message-received:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -5px;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #FFFFFF transparent;
}



/* ora dei messaggi */
.time {
    position: absolute;
    bottom: 0;
    right: 6px;

    font-size: 8px;
    color: #B1B1B1;
}


/* footer con l'inserimento del messaggio nella chat, le emoticon e il pulsante registra invia */
.end-body {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    height: 70px;
    overflow: hidden;

    padding: 10px 0;

    background-color: #F3EEEA;
}

.end-body i {
    font-size: 20px;
    color: #6A7376;

    cursor: pointer;
}

.end-body input {
    max-width: 80%;
    height: 50px;
}